<!DOCTYPE HTML>
<html lang = "en">

<head>
	<title>Marshal Matters</title>
	<meta charset = "UTF-8"/>
	<link href="../public/css/bootstrap.css" rel="stylesheet">
	<link href="../public/css/app.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
	<div class="title">
		<h2>Marshal Matters</h2>
	</div>
	<div class="row-fluid">

		<div class="inputs well span5">
			<form>
			<fieldset>
				<legend>Boat Properties</legend>
				<label>Number of Rows</label>
					<select>
						<option>5</option>
						<option>10</option>
					</select>
				
				<label>Minimum number of females</label>
					<input class="female-minimum" type="number"/>
				</label>
				<br/>
				<button id = "submit" class="btn">Submit</button>

			</fieldset>
			</form>
				<div class="row-fluid">
					<div class="status well span12">
			<h3>Status</h3>
			<div>Gender: <span id="female-status"></span></div>
		</div>
				</div>
		</div>

		<div class="graphic well span7">
		<ol id="boat">
			<li class="row">
				<ol>
					<li>1L
					</li>
					<li>1R</li>
				</ol>
			</li>
			<li class="row">
				<ol>
					<li>2L</li>
					<li>2R</li>
				</ol>
			</li>
		</ol>
		</div>
	</div>
</div>

</body>

	<script src="../public/js/jquery-1.9.1.min.js"></script>
	<script src="../public/js/bootstrap.js"></script>
	<script src="../public/js/app.js"></script>
</html>