body {
	padding: 30px;
}

#boat li {
	list-style-type: none;
	display: block;
}

#boat ol > li {
	margin: 5px;
	border-radius: 10px;
	background-color: #FFF;
	border: 1px solid #ddd;
	padding: 5px 10px 5px;
	height: 160px;
	width: 250px;
	float: left;
}